<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>1337 5p34k!</title>
  </head>
  <body>
    <div class="container">
    <h1>1337 Speak Translator</h1>

    <p>Enter a word in the form below and press submit to see the word in 1337 Speak</p>
    <form action="/result" method="get">
      <input type="text" name="user-word">
      <button type="submit">Submit</button>
    </form>

    @if (@Model != null )
    {
      <p>Result:</p>
      <p>@Model</p>
    }
  </div>
  </body>
</html>
